# dependencies
node_modules/
frontend/node_modules/
backend/node_modules/
web/node_modules/
front_end_web/node_modules/

# Expo & Web builds
.expo/
frontend/.expo/
dist/
web/dist/
front_end_web/dist/
web-build/
expo-env.d.ts
frontend/expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
Thumbs.db
*.pem

# Environment
.env*.local
.env
web/.env
front_end_web/.env

# TypeScript
*.tsbuildinfo

# Generated native folders
/ios
/android
frontend/ios
frontend/android

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
.venv_313/

# Django & SQLite
*.sqlite3
db.sqlite3
backend/db.sqlite3
*.log
ai_model/yield_prediction/models/*.pkl
