# dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Expo
.expo/
frontend/.expo/
dist/
web-build/
expo-env.d.ts
frontend/expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
Thumbs.db
*.pem

# Environment
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Generated native folders
/ios
/android
frontend/ios
frontend/android
